[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2"
mysqlclient = "==1.4.6"
pillow = "==7.1.2"

[requires]
python_version = "3.8"
